.articlesContainer {
    align-content: flex-start;
    display: flex;
    flex-wrap: wrap;
}

.buckutt-card-image {
    background: url('../images/placeholder.jpg');
    cursor: pointer;
    margin: 15px;
    max-height: 150px;
    max-width: 150px;
    min-height: 150px;
    min-width: 150px;
    overflow: visible;
}


/* Activated */
.buckutt-card-image.active {
    border: 5px solid #2980b9;
}

/* Badge correction */
.buckutt-card-image.active::after {
    background-color: #e74c3c;
    font-size: 16px;
    height: 27px;
    top: -20px;
    width: 27px;
}

/* Blurry div */
.buckutt-card-image > .mdl-card__actions::before {
    content: ' ';
    background-position: 50% 36px !important;
    background-size: 100%;
    background: url('../images/placeholder.jpg');
    display: inline-block;
    height: 35px;
    position: relative;
    top: 35px;
    width: 150px;
    -webkit-filter: blur(2px);
}

.buckutt-card-image.active > .mdl-card__actions::before {
    content: ' ';
    background-position: 50% 45px !important;
    background-size: 100%;
    background: url('../images/placeholder.jpg');
    display: inline-block;
    height: 34px;
    position: relative;
    top: 11px;
    width: 150px;
    -webkit-filter: blur(2px);
}

.buckutt-card-image > .mdl-card__actions {
    font-size: 17px;
    overflow: hidden;
    padding: 0;
}

.buckutt-card-image > .mdl-card__actions > .buckutt-card-image__filename {
    background-color: rgba(255, 255, 255, 0.6);
    display: inline-block;
    height: 35px;
    left: 0;
    line-height: 35px;
    padding-left: 5px;
    position: relative;
    width: 100%;
    z-index: 2;
}

.buckutt-card-image.active > .mdl-card__actions > .buckutt-card-image__filename {
    left: -155px;
}

/* -1 Button */
.buckutt-card-image > .mdl-button {
    display: none;
}

.buckutt-card-image.active > .mdl-button {
    background-color: #f39c12;
    display: block;
    height: 36px;
    margin-right: -20px;
    margin-top: -85px;
    max-width: 36px;
    min-width: 36px;
    position: absolute;
    right: 0;
    z-index: 2;
}

.mdl-button--fab.mdl-button--colored:focus:not(:active) {
    background-color: #e67e22;
}
