.articlesContainer {
    align-content: flex-start;
    display: flex;
    flex-wrap: wrap;
}

.buckless-card-image {
    cursor: pointer;
    margin: 15px;
    max-height: 150px;
    max-width: 150px;
    min-height: 150px;
    min-width: 150px;
    overflow: visible;
}

.buckless-card-image__price {
    background-color: #2ecc71;
    border-bottom-right-radius: 1px;
    color: #fff;
    padding: 2px 5px;
    position: absolute;
    z-index: 5;
}

.buckless-card-image .buckless-card-image__background::after {
    content: ' ';
    background: url('../images/placeholder.jpg');
    position: absolute;
    top: 0;
    left: 0;
    width: 150px;
    height: 150px;
}


/* Activated */
.buckless-card-image.active {
    border: 5px solid #2980b9;
}

/* Badge correction */
.buckless-card-image.active::after {
    background-color: #e74c3c;
    font-size: 16px;
    height: 27px;
    top: -20px;
    width: 27px;
}

.buckless-card-image.active .buckless-card-image__background::after {
    width: 140px;
    height: 140px;
}

.buckless-card-image > .buckless-card-image__background {
    position: absolute;
    z-index: 2;
}

.buckless-card-image.active > .buckless-card-image__background {
    height: 140px;
    position: absolute;
    width: 140px;
    z-index: 2;
}

.buckless-card-image > .mdl-card__actions {
    font-size: 17px;
    overflow: hidden;
    padding: 0;
}

.buckless-card-image > .mdl-card__actions > .buckless-card-image__filename {
    align-items: center;
    background-color: rgba(255, 255, 255, 0.6);
    box-sizing: border-box;
    display: flex;
    left: 0;
    min-height: 35px;
    padding: 0 5px;
    position: relative;
    width: 100%;
    z-index: 2;
}

.buckless-card-image > .mdl-card__actions > .buckless-card-image__filename > span {
    display: inline-block;
    padding: 5px 0;
    white-space: normal;
    width: 100%;
}

/* -1 Button */
.buckless-card-image > .mdl-button {
    display: none;
}

.buckless-card-image.active > .mdl-button {
    background-color: #f39c12;
    display: block;
    height: 36px;
    margin-right: -20px;
    margin-top: -85px;
    max-width: 36px;
    min-width: 36px;
    position: absolute;
    right: 0;
    z-index: 2;
}

.mdl-button--fab.mdl-button--colored:focus:not(:active) {
    background-color: #e67e22;
}
