.infoCard {
    font-size: 24px;
    height: 150px;
    line-height: 150px;
    margin: 40px auto;
    min-height: 150px;
    text-align: center;
    width: 600px;
}

.infoCard.authCard {
    height: 445px;
}

.infoCard.authCard .mdl-grid {
    box-sizing: border-box;
    width: 100%;
}

.infoCard.authCard .mdl-cell {
    border: 1px solid #ddd;
    cursor: pointer;
    font-size: 24px;
    height: 70px;
    line-height: 70px;

    -webkit-user-select: none;
            user-select: none;
}

.infoCard.authCard .mdl-cell:first-child {
    border: 1px solid #ddd;
    cursor: default;

    transition: border .3s ease;
}

.infoCard.authCard .mdl-cell.wrong:first-child {
    border: 2px solid #e74c3c;
}

.infoCard.authCard .mdl-cell > i {
    font-size: 34px;
    line-height: 70px;
}
