/* Promotions */
.promotionButton {
    color: #fff;
}

.mdl-layout__header {
    background-color: #34495e;
    box-shadow: none;
}

/* User info in header */
.picture {
    background: #34495e;
    height: 112px;
    position: absolute;
    width: 100px;
}

.picture img {
    margin-top: 6px;
}

.picture i {
    color: rgba(255, 255, 255, 0.9);
    font-size: 90px;
    height: 112px;
    line-height: 112px;
    text-align: center;
    width: 100px;
}

.mdl-layout__header.with-picture {
    width: calc(100% - 100px);
    margin-left: 100px;
}

.mdl-layout__header .mdl-layout-spacer {
    font-size: 18px;
    line-height: 20px;
    padding: 0 20px;
}

.mdl-layout__header .mdl-layout-spacer > div > span {
    font-size: 17px;
}

.userCredit {
    float: left;
    line-height: 22px;
    margin-right: 20px;
    text-align: center;

    transition: margin-right .3s ease;
}

.userCredit.mdl-badge {
    margin-right: 70px;
}

.userCredit.mdl-badge[data-badge]:after {
    border-radius: 2px;
    background-color: #2ecc71;
    opacity: 0;
    right: -60px;
    top: 11px;
    width: 52px;

    transition: opacity .3s ease;
}

.userCredit.mdl-badge.showBadge[data-badge]:after {
    opacity: 1;
}

.userBasket {
    line-height: 44px;
}

/* Invalid price */
.mdl-layout__header .invalidPrice {
    color: #ff3333;
    font-weight: bold;
}

/* Spacer has defined width */
.mdl-layout__header .mdl-layout-spacer {
    flex-shrink: 1;
    padding-left: 0;
}

.mdl-layout__header .mdl-layout-spacer > div {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 100%;
}

/* Fix hamburger icon */
.mdl-layout__header .mdl-layout__drawer-button {
    display: none;
}

/* Unifies padding on header */
.mdl-layout__header-row {
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    padding-right: 0;
    padding-left: 20px;
}

/* Forces tab size*/
.mdl-layout__tab-bar {
    background-color: transparent;
    height: 48px;
}

.mdl-layout.is-upgraded .mdl-layout__tab.is-active::after {
    background-color: #e74c3c;
}

.mdl-layout__tab-bar .mdl-layout__tab {
    cursor: pointer;
}

.mdl-layout__tab-bar-button {
    display: none;
}
