html, body {
    font-family: 'Roboto', sans-serif;
}

.page-content {
    height: 100%;
}

main.mdl-layout__content {
    overflow: hidden;
}

.page-content > .mdl-grid {
    height: calc(100% - 112px);
    padding: 0;
    position: absolute;
    width: 100%;
}

.material-icons {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 24px;
    display: inline-block;
    width: 1em;
    height: 1em;
    line-height: 1;
    text-transform: none;
    letter-spacing: normal;
    word-wrap: normal;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
    font-feature-settings: 'liga';
}

/* Paid button */
#done {
    background-color: #2ecc71;
    bottom: 15px;
    cursor: pointer;
    height: 72px;
    margin: 0 0 0 15px;
    position: absolute;
    right: 15px;
    transition: .3s background-color ease,
                .3s box-shadow ease;
    width: 72px;
    z-index: 10;
}

#done.error {
    background-color: #e74c3c;
}

#done.hiddenFab {
    background-color: transparent;
    box-shadow: none;
}

#done i {
    font-size: 36px;
    transform: translate(-18px, -12px);
}

#done .mdl-spinner--single-color {
    height: 70px;
    width: 70px;
}

#done .mdl-spinner--single-color .mdl-spinner__layer {
    border-color: #2ecc71;
    zoom: 2;
}

/* Loader and modal */
.shadow-loader {
    background-color: rgba(0, 0, 0, 0.6);
    height: 100%;
    left: 0;
    position: absolute;
    text-align: center;
    top: 0;
    width: 100%;
    z-index: 20;
}

.shadow-loader > .mdl-spinner {
    margin-top: 10%;
}

.shadow-loader .mdl-spinner--single-color .mdl-spinner__layer {
    border-color: #fff;
}

/* Error card */
.modal-error {
    background-color: rgba(0, 0, 0, 0.6);
    height: 100%;
    left: 0;
    position: absolute;
    text-align: center;
    top: 0;
    width: 100%;
    z-index: 20;
}

.modal-error > .mdl-card {
    margin: 150px auto 0 auto;
    min-height: 0;
    width: 350px;
}

.modal-error .mdl-card__title {
    padding: 20px 20px 0 20px;
    text-align: center;
}

.modal-error p {
    text-align: left;
}

/* Revalidation */
#revalidation {
    background: #34495e;
    box-sizing: border-box;
    color: #fff;
    font-size: 30px;
    height: 100%;
    left: 0;
    padding-top: 140px;
    position: absolute;
    text-align: center;
    top: 0;
    width: 100%;
    z-index: 15;
}
