.mobile .infoCard {
    box-shadow: none;
}

.mobile .authCard {
    margin-top: 0;
}

.mobile .infoCard.authCard .mdl-cell {
    height: 40px;
    line-height: 40px;
}

.mobile .infoCard.authCard .mdl-cell > i {
    line-height: 40px;
}

.mdl-cell--4-col {
    width: calc(33.3333333333% - 16px) !important;
}
